{% macro displaySourcesList(sources_list) %}

    {% for source in sources_list %}

    <div class="row">
        <div class="jumbonn">
            <div class="thumbnail">
          
                <div class="caption">
                  <h3>{{source.name}}</h3>
                  <h3>{{source.description}}</h3>
                  <a href="{{source.url}}">{{source.url}}</a>     
                  <p><a href="/source/{{source.id}}/">Go to News Articles</a></p>
                </div>
                
            </div>
        </div>
    </div>
          

        
    {% endfor %}
      {% endmacro %}
